@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// variáveis
$body-bg-color: #faf7fd;
$purple: #bb99dd;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

p,
a {
    color: $purple;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: $body-bg-color;
}

.perfil-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 4px;
        border: 2px solid $purple;
        margin-bottom: 15px;
    }
}

.perfil-links {
    margin: 20px 0;
    display: flex;
    flex-direction: column;

    a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
    }

    button {
        margin: 10px 0;
        width: 44vh;
        border: 2px solid $purple;
        background-color: transparent;
        border-radius: 4px;
        padding: 8px 15px;
    }
}

.perfil-icons {
    img {
        cursor: pointer;
    }

    img:not(:last-of-type) {
        margin-right: 29px;
    }
}

@media screen and (max-device-width: 450px) {
    .perfil-img {
        img {
            object-fit: cover;
            width: 150px;
            height: 150px;
        }
    }

    .perfil-links {
        button {
            max-width: 25vh;
        }
    }

    .perfil-icons {
        img:not(:last-of-type) {
            margin-right: 10px;
        }
    }
}
